
@font-face {
  font-family: 'Namaku';
  src: url(namaku/Namaku.ttf);
}

  nav {
  background-color: rgb(219,241,254);
  border-radius: 200px;
  font-family: 'Namaku';
  padding: 10px 0;
  text-align: center;
  position: sticky;
  justify-content: space-evenly;
  }

  nav a {
    color: #d68440; 
    font-size: 14px;
    margin: 10px;
    text-decoration: none; 
}

nav a:hover {
    color: hsl(24, 59%, 38%); 
}

  body {
    background-image: url("Sanrio Games & Quizzes-2.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

