body {
  background-image: url(sanrio.png);
  background-position: center top;
  background-size: 80%;
  background-repeat: no-repeat;
  background-color: rgb(219,241,254);
  }

  nav {
  background-color: white;
  padding: 10px 0;
  text-align: center;
  position: sticky;
  justify-content: space-evenly;
  }
  
  body {
    background-image: url("Sanrio Games & Quizzes-2.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}