* {
	box-sizing: border-box;
}

.back-button {
    text-decoration: none;
    position: absolute;
    top: 2em;
    left: 2em;
    padding: 10px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.back-button:hover {
    background-color: rgb(212, 212, 212);
}

body {
    background-color: rgb(211, 239, 248);
    text-align: center;
    font-size: 1.5em;
    font-family: Silkscreen, sans-serif;
    padding-top: 50px;
}

section {
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    padding-top: 20px;
    position: relative;
    
}

input {
    display: block;
    margin: .5em auto 0em;
    padding: 0.5em 1em 0.5em 0.7em;
    width: 100%;
    border: none;
    background-color: rgba(255, 255, 255);
    color: rgba(0,0,0,0.8);
    font-size: 2em;
    line-height: 1.5em; 
    transition: box-shadow .5s linear; 
}

#toggle-password {
    position: fixed; 
    top: 20px; 
    right: 20px;
    padding: 0.5em;
    font-size: 1.2em;
    background-color: lightblue;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: .5em;
}

#toggle-password:hover {
    background-color: white; 
}

input:hover, input:focus {
    outline: 0;
    box-shadow: inset 0px 0px 10px #ccc;
}

#strength-image {
    display: block;         
    margin: 20px auto;     
    width: 50%;             
    max-width: 300px;       
    height: auto;            
}

meter {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0 auto 1em;
    width: 100%;
    height: .5em;
    background-color: rgba(0,0,0,0.1);
}

meter::-webkit-meter-bar {
    background: none;
    background-color: rgba(0,0,0,0.1);
}

meter[value="1"]::-webkit-meter-optimum-value { 
    background: rgba(250, 73, 73, 0.926); 
}

meter[value="2"]::-webkit-meter-optimum-value { 
    background: rgb(255, 255, 164); 
}

meter[value="3"]::-webkit-meter-optimum-value { 
    background: rgb(141, 243, 141); 
}

meter[value="4"]::-webkit-meter-optimum-value { 
    background: rgb(1, 229, 1); 
}

meter[value="1"]::-moz-meter-bar { 
    background: rgba(250, 73, 73, 0.926); 
}

meter[value="2"]::-moz-meter-bar { 
    background: rgb(255, 255, 164); 
}

meter[value="3"]::-moz-meter-bar { 
    background: rgb(141, 243, 141);
}

meter[value="4"]::-moz-meter-bar { 
    background: rgb(1, 229, 1); 
}

.feedback {
    color: #9ab;
    font-size: 90%;
    padding: 0 .25em;
    font-family: Silkscreen, monospace;
    margin-top: 1em;
}

